@{
    ViewData["Title"] = "ТЕОРИЯ ИГРЫ: TOMB RAIDER";
}

<div class="text-center">
    <h1 class="display-1">Лара Крофт: Расхитительница гробниц</h1>
    <p class="text-justify">
        Расхитительница гробниц, также известная как Лара Крофт: Расхитительница гробниц в период с 2001 по 2008 год, представляет собой медиа-франшизу, которая началась с серии приключенческих видеоигр, созданной британской игровой компанией Core Design. Ранее принадлежала Eidos Interactive, а затем Square Enix после приобретения Eidos в 2009 году. Геймплей в основном фокусируется на исследовании окружающей среды, решении головоломок, перемещении по враждебным средам, заполненным ловушками, и борьбе с врагами. Для франшизы были разработаны дополнительные носители в виде экранизаций, комиксов и романов.</p>
        <h3 class="display-4">НО кто такая Лара Крофт?</h3>
        <p class="text-justify">Лара Крофт - вымышленный персонаж и главный герой франшизы видеоигр Tomb Raider. Она представлена как очень умный и спортивный английский археолог, который отправляется в древние гробницы и опасные руины по всему миру. Созданный командой британского разработчика Core Design, в которую входил Тоби Гард, персонаж впервые появился в видеоигре Tomb Raider в 1996 году.</p>
</div>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AZk8CIirNuk" allowfullscreen></iframe>
</div>
<div class="text-center">
    <h3 class="display-4">Как всё начиналось?</h3>
    <p class="text-justify">
        Лара Крофт, основная героиня линейки игр серии Tomb Raider, первая часть которой начала разрабатываться в 1993 году, была придумана сотрудниками Core Design, компанией Eidos Interactive. Ведущий художник-график Тоби Гард разработал четыре дизайнерских наброска, до того как остановился на варианте окончательного внешнего вида персонажа. В самом начале Тоби Гард сосредоточился на создании персонажа, наиболее подходящего на роль искателя приключений и расхитителя гробниц, поэтому он задумал эдакий клон Индианы Джонса. Он придумал персонажа мужского пола, который орудовал кнутом и был одет в шляпу. Соучредитель Core Design Джереми Смит охарактеризовал протагониста как производную версию Индианы Джонса, и попросил Гарда добавить герою оригинальности.

        В то время как Тоби начал писать первый дизайн-документ и работать над образом персонажа, у команды появилась идея, заключавшаяся в том, чтобы внедрить в игру возможность выбирать персонажей из нескольких. Также он заметил, что его коллеги по работе, играя в Virtua Fighter, отдают предпочтение женским персонажам. Тогда и возникла идея создать не только дизайн мужского, но ещё и дизайн женского персонажа. Источником вдохновения для неё послужили комиксы Tank Girl за авторством Джейми Хьюлетта (Jamie Hewlett) и шведская поп-певица Нене Черри (Neneh Cherry). Ещё позже, к нему пришло понимание того, что добиться внедрения обоих персонажей в игру будет очень сложно, так как он планировал добавить в игру кинематографичный стиль с проработанным сюжетом. Разработчикам пришлось бы делать в два раза больше работы по видео, что на тот момент было намного амбициозней изначальной задумки. Выбирая между уже созданным им дизайном Лары и этого парня, он предпочёл Лару.

        Поначалу к выбору Гарда коллеги отнеслись со скептицизмом, поскольку главная героиня в те времена была крайне редким явлением, и делать о ней игру было рискованно. Однако задумку всё-таки поддержали и воодушевившись, Гард принялся додумывать образ персонажа. После различных экспериментов над образом была создана латиноамериканская женщина по имени Лаура Круз (Laura Cruz), но руководство компании предложило переделать её имя на английский манер — героиня стала Ларой Крофт, имя которой было взято из телефонной книги из-за того, что звучало «привычнее для британского уха». Биография девушки была скорректирована так, чтобы учитывалось её британское происхождение.</p>
</div>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EWQIu3c_FSQ" allowfullscreen></iframe>
</div>
