@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ТЕОРИЯ ИГРЫ: TOMB RAIDER";
}
<div class="text-center">
    <h1 class="display-2">Расхитительница гробниц</h1>
    <p class="text-justify">
        Tomb Raider (с англ. — «Расхитительница гробниц») — компьютерная игра в жанре приключенческого боевика, первая игра одноимённой серии игр. «Tomb Raider» была разработана компанией Core Design и издана Eidos Interactive в 1996 году на платформах Sega Saturn, PlayStation, Macintosh и PC. Существует версия игры для портативной игровой консоли N-Gage, а также для мобильных платформ iOS и Android.

        Tomb Raider — это один из родоначальников жанра шутера от третьего лица. Игра была настолько популярна, что породила множество подражаний и в целом оказала значительное влияние на развитие данной ветви игровой индустрии. До сих пор Tomb Raider и Лара Крофт остаются одними из самых узнаваемых символов культуры компьютерных игр.</p>
</div>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/67Q8P7qj4rQ" allowfullscreen></iframe>
</div>
<div class="text-center">
    <h5 class="display-4">Рецензии российской прессы</h5>
    <p class="text-justify">
        Обозреватель журнала «Игромания» Александр Башкиров, рассматривая игру спустя 15 лет после выхода, заявил, что у оригинальной Tomb Raider не так уж и много положительных черт. Критик похвалил полностью трёхмерный движок и неплохой дизайн уровней, а также впечатляющую главную героиню. Геймплей, основной чертой которого являлась акробатика, на взгляд рецензента, выглядел очень неуклюжим и скучным по сравнению с проектом Super Mario 64. Кроме того, неочевидные карнизы и неудобно расположенные рычаги вызваны, по мнению автора, небрежностью разработчиков. Относительно графической составляющей, было сказано, что «… в наше время нужно определенное воображение, чтобы увидеть в колыхающихся зеленовато-коричневых полигонах пышные гробницы, хрустальные водопады и прелести полигональной топ-модели».

        Юрий Поморцев, обозреватель журнала «Страна игр», заявил, что игра Tomb Raider — хит, который войдёт в историю или, как минимум, оставит «след на компьютерном небосклоне». По его мнению самой главной причиной успеха проекта являлась жанровая принадлежность игры — шутер от третьего лица. Критик также похвалил великолепную прорисовку деталей, яркие текстуры, колоритный, высокодетализированный игровой мир. Автору крайне импонировал тот факт, что главным героем истории являлась девушка Лара Крофт — миловидная, тренированная и обладающая «бесстрашным сердцем». Рецензент отмечал наличие плавной анимации, качественной векторной графики, красочных роликов, приятных головоломок и удобного управления. Особой похвалы удостоились «таинственные» и «романтичные» локации. Единственным досадным упущением критик посчитал отсутствие мультиплеера.
    </p>
    <a href="http://www.tombraider.ru/games/tr1/solution.html" class="btn btn-secondary active" role="button" aria-disabled="true">Документация по прохождению игры</a>
</div>