@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ТЕОРИЯ ИГРЫ: TOMB RAIDER";
}
<div class="text-center">
    <h1 class="display-2">Расхитительница гробниц: 2013</h1>
    <p class="text-justify">
        «Расхитительница гробниц» — кроссплатформенная компьютерная игра в жанре приключенческого боевика от третьего лица с ролевыми элементами, вышедшая на PlayStation 3, Xbox 360 и PC 5 марта 2013 года[К 2], также известная под названиями Tomb Raider 9, Tomb Raider: Ascension и Cryptids. Игра была разработана американской студией Crystal Dynamics совместно с канадской компанией Eidos Montreal и издана холдингом Square Enix. Официальным дистрибьютором и локализатором в России стала компания «1С-СофтКлаб»Перейти к разделу «#Слухи, анонс и выпуск». Впоследствии была портирована на PlayStation 4 и Xbox One и выпущена с подзаголовком Definitive Edition. Feral Interactive портировал игру для macOS 23 января 2014 года, и для Linux — 27 апреля 2016 года. Слоганом Tomb Raider служит фраза «Рождение легенды».
    </p>
    <p class="text-justify">Проект, представляющий собой перезапуск серии Расхитительница гробниц, повествует о молодой девушке-археологе Ларе Крофт, попавшей после кораблекрушения на таинственный остров. Основная концепция игры состоит в смене эмоционального образа протагонистки, которой необходимо сражаться в условиях дикой природыПерейти к разделу «#Концепция». Геймплей проекта строится на схватках с врагами, решении головоломок и изучении мира. К основным игровым новшествам относятся появление системы укрытий, побочных квестов и мультиплеераПерейти к разделу «#Игровой процесс». Большинство ключевых лиц, ответственных за написание сценария, создание музыкального сопровождения и озвучивание, держалось студией в секрете долгое времяПерейти к разделу «#Создатели». До релиза проекта разработчиками устраивались презентации в различных странах, в том числе в США, России, Испании, ЮАР, Франции, Германии и Великобритании.</p>
</div>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Lpt4n7wt4fs" allowfullscreen></iframe>
</div>
<div class="text-center">
    <h5 class="display-4">Реакция на перезагрузку</h5>
    <p class="text-justify">
        Игровая пресса на заявления разработчиков о перезагрузке серии отреагировала неоднозначно. Обозреватель журнала «Игромания» отметил, что «многострадальный франчайз» перезагружался уже трижды, каждый раз игнорируя предыдущие наработки серии. Рецензент с сайта Kotaku заявил: «Если бы мой PC пришлось перезагружать столько же раз, сколько этот франчайз, я бы его давно выкинул»[295]. Критик от журнала «Страна игр» заявил, что большинство «уникальных черт» новой франшизы не новы, и юная и неопытная Лара уже появлялась в линейке серии, в The Last Revelation, Chronicles, Legend и анимации Pre-Teen Raider; квестовая структура, подобная sandbox-играм, встречалась в Underworld, а система прокачки — в The Angel of Darkness. После просмотра роликов с E3 2012 Сергей Цилюрик описывал Лару как хладнокровную убийцу и был предельно разочарован: «Выживание? Уязвимость? Концептуально новый подход? <…>
            Столько слов было сказано о том, какой новый Tomb Raider будет особенный, а оказалось, что он такой же, как и все»[296].

            Специалисты PlayGround.ru выразили мысль о том, что Crystal Dynamics двигается в правильном направлении — из-за изменений характера главной героини и геймплейной основы видеоигры проект повзрослел[33]. Представитель портала Игры@Mail.Ru рассудил, что перезагрузка сосредотачивается не столько на изменении облика главной героини или геймплея, сколько на отказе от «груза прошлых лет», представляя возможность «отбросить все изжившие себя <…> творческие решения и положить начало новому витку развития Tomb Raider как сериала»[297]. Стейс Харман включил перезагрузку серии в список из 15 определяющих моментов Лары Крофт[298]. Разработчики заявили, что фанатское сообщество восприняло новую концепцию «на удивление тепло».
    </p>
    <a href="http://www.tombraider.ru/games/tr9/" class="btn btn-secondary active" role="button" aria-disabled="true">ОБЗОР РАСХИТИТЕЛЬНИЦЫ ГРОБНИЦ 2013</a>
</div>